@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:wght@300&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --header-font:'Source Sans Pro', sans-serif;
    --coffeetype-font:'Space Mono', monospace;
    --body-font:'Noto Serif Tamil', serif;
    --header-color:#43281c;
    --box-background:#fed7aa;
    --border-color:#c2410c;
    --font-color:#885a2d;
}

.coffee-masters{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
}
.logo{
    height:35px;
    margin: 10px;
}
.hero-heading{
    color: white;
    font-style: var(--header-font);
    letter-spacing: 3px;
}
.box1{
    width: 50%;
    height: 475px;
    padding: 0px 25px 50px 25px ;
    margin-top:50px;
    border-radius: 10px;
    background-color: var(--box-background);
}
.box-header{
    padding: 25px;
    font-size: larger;
    color: var(--font-color);
}
.coffee-type{
    font-size: larger;
    font-style: var(--coffeetype-font);
}
.price{
    font-size: larger;  
    float: right;
    position: relative;
    bottom:100px;
}
.price2{
    position: relative;
    bottom: 139px;
}
.type{
    font-size: large;
}
hr{
    border-color: var(--border-color);
}
.box2{
    width:50%;
    height:158.33px;
    border-radius: 10px;
    position: relative;
    display:inline-block;
    background-color: var(--box-background);
}
.input{
    border-color: var(--border-color);
    border-radius: 50px;
    width: 45%;
    padding: 9px;
}
.label{
    background-color: var(--box-background);
    font-size: 11px;
    position: relative;
    top:6px;
}

