@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:wght@300&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --header-font:'Source Sans Pro', sans-serif;
    --coffeetype-font:'Space Mono', monospace;
    --body-font:'Noto Serif Tamil', serif;
    --header-color:#7c2d12;
    --box-background:#fed7aa;
    --border-color:#c2410c;
    --font-color:#fdba74;
}
