@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:wght@300&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --header-font:'Source Sans Pro', sans-serif;
    --coffeetype-font:'Space Mono', monospace;
    --body-font:'Noto Serif Tamil', serif;
    --header-color:#43281c;
    --box-background:#fed7aa;
    --border-color:#c2410c;
    --font-color:#885a2d;
}

.coffee-masters{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
}
.logo{
    height:35px;
    margin: 10px;
}
.hero-heading{
    color: white;
    font-style: var(--header-font);
    letter-spacing: 3px;
}
.box1{
    grid-area: item-box;
    max-width: 700px;
    height: 475px;
    padding: 0px 25px 50px 25px ;
    margin-top:50px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    background-color: var(--box-background);
}
.box-header{
    font-size: larger;
    color: var(--font-color);
}
.box-header1{
    padding: 25px;
}
.coffee-type{
    font-size: larger;
    font-family: var(--coffeetype-font);
}
.type{
    font-family: var(--coffeetype-font);
    color: var(--font-color);
}
.price{
    font-size: larger;  
    float: right;
    position: relative;
    bottom:100px;
}
.price2{
    position: relative;
    bottom: 139px;
}
.type{
    font-size: large;
}
hr{
    border-color: var(--border-color);
}
.box2{
    grid-area: name-box;
    width: 98%;
    height:150px;
    border-radius: 10px;
    padding: 15px;
    margin:50px 40px 20px 10px;
    position: relative;
    display:inline-block;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    background-color: var(--box-background);
}
.input{
    border-radius: 50px;
    padding: 9px;
    border-color: var(--border-color);
    background-color: var(--box-background);
}
.label-name{
    position: absolute;
    left: 35px;
    bottom: 53px;
    padding: 0 5px;
}
.label{
    font-size: 15px;
    background-color: var(--box-background);
}
.name-input{
    width: 95%;
}
.box-header2{
    padding: 0px 20px 10px 20px;
}
.box3{
    grid-area: card-box;
    width: 98%;
    height: 307px;
    padding: 25px 15px 50px 15px;
    margin:0px 40px 20px 10px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
    background-color: var(--box-background);
}
.input-card{
    width: 95%;
}
.input-ccv{
    width: 25%;
}
.flex-field{
    display: flex;
    flex-direction: column;
    row-gap:75px;
}
.flex-field2{
    display: flex;
    flex-direction: column;
}
.label-card{
    position: relative;
    left: 25px;
    top: 10px;
    padding: 0 5px;
}
.label-ccv{
    position: relative;
    left: 25px;
    top: 10px;
    padding:0 5px 0 5px;
    background-color: var(--box-background);
}
.items-bought{
    display: grid;
    grid-template-areas: "item-box name-box"
                         "item-box card-box";
}
.bill{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 55px;
    font-family: var(--body-font);
}
.bill td{
    padding: 10px 105px 10px 105px;
}
button{
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    font-size: 25px;
    font-family: var(--header-font);
    border-color: var(--border-color);
    background-color: var(--box-background);
}